body {
    font-family: 'Arial', Courier, monospace;
    margin: 0;
}

header,
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
logo {
    font-size: 24px;
}
ul {
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}
header,
.intro, 
footer {
    background-color: rgb(207, 110, 167);
    color: white;
}

li {
    text-decoration: none;
    list-style-type: none;
}

content {
    display: flex;
}

footer {
    position:fixed ;
    padding: 16px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
  }