body {
    font-family: 'Arial', Courier, monospace;
    margin: 0;
}

header,
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

header,
.intro, 
footer {
    background-color: rgb(207, 110, 167);
    color: white;
}

logo {
    font-size: 24px;
}
ul {
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    text-align: center;
}

li {
    text-decoration: none;
    list-style-type: none;
}

li:hover {
    color: blueviolet;
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options {
    display: flex;
    padding: 16px 200px 16px 200px;
    flex-wrap: wrap;
}

.option {
    max-width: 200px;
    margin: 8px;
    text-align: center;
}

.quote {
    background-color: rgb(211, 173, 201);
    font-size: 28px;
    font-weight: 100;
    padding: 50px 200px 50px 200px;
}


.action {
    background-color: #d44487;
    padding: 0px 42px 42px 42px;
    display: flex;
    align-items: center;
    gap: 42px;
}
footer {
    position:fixed ;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
  }

img {
    max-height: 200px;
    flex-shrink: auto;
    border-radius: 20px;
  }

main img:hover {
    border:5px solid #BF1756;
}

button:hover {
    background-color: #EACEEC;
}